<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main"> 
        {{>header}}
        <p class="about">
            Our goal is to show the real time weather data to our customer. This site is still in developing phase with more
            features to come.
           
            <br><br>
            Contact number : 7507121505
        </p>
        </div>       
            {{>footer}}       
    </body>
    
</html>