<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/weather2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}              
                <p>
                    {{example}}
                    <br><br>


                    Feel free to reach out to us at our email id sharma.antariksh@gmail.com and share your thoughts!

                </p>
        </div>
        {{>footer}}
    </body>
</html>